/* ============================= LIST ====================================== */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
:root {
  --primary-color: #4daf54;
  --secondary-color: #3d8880;
}
body {
  height: 100vh;
  background: linear-gradient(to right, #4daf54, #3d8880);
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.card {
  position: relative;
  margin: 120px auto;
  width: 200px;
  height: 300px;
  background: #272d40;
  border-radius: 15px;
  padding: 20px;
}
.card__heart,
.card__cart {
  font-size: 25px;
  position: absolute;
  top: 15px;
  left: 20px;
}
.card__cart {
  left: auto;
  right: 20px;
}
.card__img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
}
.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__title,
.card__price {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.card__title {
  color: var(--primary-color);
  transition: 0.5s;
}
.card__price {
  transition: 0.5s;
  color: #fff;
}
.card__author {
  margin-bottom: 10px;
}

.card__author span,
.card__author P {
  color: #fff;
  font-size: 15px;
}

.card__action a {
  background: var(--primary-color);
  border: none;
  outline: none;
  margin-top: 10px;
  transition: 0.2s;

  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}
.card:hover .card__img {
  transform: translateY(-25px);
  /* transform: translateY(-30px) rotate(-20deg); */
}
.card:hover .card__title {
  transform: translate(-2px, -15px);
}
.card:hover .card__price {
  transform: translate(-64px, -13px);
}
.card__author {
  margin-top: 100px;
}
.card__author,
.card__action {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.1s;
}
.card:hover .card__author,
.card:hover .card__action {
  visibility: visible;
  opacity: 100;
}
.card:hover .card__author {
  margin-top: -10px;
}
.card__action:hover {
  transform: scale(1.1);
}
