/* css cho index */
.navbar-brand img {
  width: 50px;
  height: 50px;
}
.main-header a:hover,
.btn:hover {
  transform: scale(1.1);
}
.feature-item img {
  width: 50px;
  height: auto;
}

a {
  text-decoration: none;
}
footer .brand-icon {
  width: 30px;
  height: 30px;
}
.carousel-img {
  object-fit: cover;
  height: 400px;
}

/* ============================= LIST ====================================== */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
:root {
  --primary-color: #4daf54;
  --secondary-color: #3d8880;
}
body {
  height: 100vh;
  background: linear-gradient(to right, #4daf54, #3d8880);
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.card {
  position: relative;
  margin: 120px auto;
  width: 300px;
  height: 400px;
  background: #272d40;
  border-radius: 15px;
  padding: 20px;
}
.card__heart,
.card__cart {
  font-size: 25px;
  position: absolute;
  top: 15px;
  left: 20px;
}
.card__cart {
  left: auto;
  right: 20px;
}
.card__img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
}
.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__title,
.card__price {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.card__title {
  color: var(--primary-color);
  transition: 0.5s;
}
.card__price {
  transition: 0.5s;
}
.card__size,
.card__color {
  display: flex;
  align-items: center; /*căn giữa theo chiều dọc*/
  margin-bottom: 10px;
}

.card__size span {
  background: #dadada;
  padding: 1px 10px;
  border-radius: 5px;
  margin: 0 2px;
  color: black;
}
.card__color span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
}
.card__color--green {
  background: green;
}
.card__color--red {
  background: red;
}
.card__color--black {
  background: black;
}
.card__action button {
  background: var(--primary-color);
  border: none;
  outline: none;
  margin-top: 10px;
  transition: 0.2s;

  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}
.card:hover .card__img {
  transform: translateY(-90px) rotate(-20deg);
}
.card:hover .card__title {
  transform: translate(-22px, -72px);
}
.card:hover .card__price {
  transform: translate(-101px, -72px);
}
.card__size {
  margin-top: 150px;
}
.card__size,
.card__color,
.card__action {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.1s;
}
.card:hover .card__size,
.card:hover .card__color,
.card:hover .card__action {
  visibility: visible;
  opacity: 100;
}
.card:hover .card__size {
  margin-top: -70px;
}
.card__action button:hover {
  transform: scale(0.9);
}
