/* css cho index */
.navbar-brand img {
  width: 50px;
  height: 50px;
}
.main-header a:hover,
.btn:hover {
  transform: scale(1.1);
}
.feature-item img {
  width: 50px;
  height: auto;
}

a {
  text-decoration: none;
}
footer .brand-icon {
  width: 30px;
  height: 30px;
}
.carousel-img {
  object-fit: cover;
  height: 400px;
}
/* #fireworksCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
} */
