.navbar-brand img {
  width: 50px;
  height: 50px;
}
.main-header a:hover,
.btn:hover {
  transform: scale(1.1);
}
.feature-item img {
  width: 50px;
  height: auto;
}
/* .list-group-item a:hover {
  background-color: yellow;
  cursor: pointer;
} */
a {
  text-decoration: none;
}
footer .brand-icon {
  width: 30px;
  height: 30px;
}
.carousel-img {
  object-fit: cover;
  height: 400px;
}
